[submodule "external/lib-expected"]
	path = external/lib-expected
	url = https://github.com/proxict/lib-expected.git
[submodule "external/lib-optional"]
	path = external/lib-optional
	url = https://github.com/proxict/lib-optional.git
